@import "tailwindcss";

/* .nav{
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 20px , 40px;
 background-color: aquamarine;
  
}

.nav div{
 display: flex;
 align-items: center;
 gap: 40px;
 text-decoration: underline;
 
}

h1{

padding: 70px;
margin-top: 80px;
padding-left: 100px;
text-decoration: underline;



} */